<div class="mob-menu js-menu-container">
  <div class="container mob-container">
    <div class="mob-logo-wrap">
      <a href="" class="logo">yachtjet</a>
      <button type="button" class="header-button mob-btn js-close-menu">
        <svg class="icon-close" width="16" height="16">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav">
      <ul class="mob-list">
        <li class="mob-item part">
          <a class="mob-nav-link" href="#about">ABOUT</a>
        </li>
        <li class="mob-item">
          <a class="mob-nav-link" href="#yachts">YACHTS</a>
        </li>
        <li class="mob-item">
          <a class="mob-nav-link" href="#reviews">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <ul class="mob-icon-list">
      <li class="icon-list-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel = "nofollow  noreferrer noopener">
  
          <svg class="mob-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="icon-list-item">

        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel = "nofollow  noreferrer noopener">
          <svg class="mob-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="icon-list-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel = "nofollow  noreferrer noopener">

          <svg class="mob-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
