body {
  
  font-family:"Inter",sans-serif;
  color: #434455;
  background-color: #0E1823;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




.container{
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.section{
  padding-bottom: 80px;
}
  
@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
      min-width: 376px;
      padding: 0 32px;
  } 

  .section{
    padding-bottom: 150px;
  }

}

@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
      min-width: 769px;
      padding: 0 50px;
  } 
}
