a {
  display: inline-block;
}
.footer-section {
  padding: 0px 10px;
}
.footer-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
}
.footer-info-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}
/* in total sets
.logo {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  padding-right: 37px;
} */
.footer-logo {
  color: #fbfbfb;
  padding-right: 37px;
}
.footer-info-list {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 4px;
}
.footer-info-item {
  display: flex;
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  width: 66px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link {
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info-item:focus,
.footer-info-item:hover {
  background-color: #fbfbfb;
}
.footer-linl:focus,
.footer-link:hover {
  color: #1b414b;
}
.footer-list-icons {
  display: flex;
  gap: 8px;
  padding-top: 80px;
  padding-right: 133px;
  padding-left: 133px;
}
.footer-icons {
  fill: #fbfbfb;
}
.footer-icons:hover,
.footer-icons:focus {
  fill: #062730;
}
.footer-text-container {
  padding: 0 38px 82px;
}
.footer-main-text {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.footer-link-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footer-link-text {
  padding-right: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}
.footer-link-pp {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}
/*-----tablet-----*/
@media screen and (min-width: 768px) {
  .footer-container {
    padding: 0 16px;
    max-width: 768px;
  }
  .footer-info-container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 96px;
    justify-content: space-around;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-info-item {
    width: 91px;
  }
  .footer-list-icons {
    display: flex;
    gap: 8px;
    padding: 0;
  }
  .footer-text-container {
    padding: 0 48px 99px 48px;
  }
  .footer-main-text {
    font-size: 32px;
  }
  .footer-link-text {
    padding-right: 32px;
    font-size: 14px;
    line-height: 1.18;
  }
  .footer-link-pp {
    font-size: 14px;
    line-height: 1.18;
  }
}
/*-----desknormal-----*/
@media screen and (min-width: 1280px) {
  .footer-container {
    padding: 0px 25px;
    max-width: 1280px;
  }
  .footer-text-container {
    padding: 96px 268px 136px 269px;
  }
}
/*-----deskbig-----*/
@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
  }
  .footer-text-container {
    padding: 96px 346px 99px 345px;
  }
}
